<!-- <app-parent></app-parent> -->
<!-- <app-pipe></app-pipe>

<br>
<br>

<app-dependent></app-dependent>
<br>
<br>
<app-create-item></app-create-item>
<app-view-item></app-view-item>
<app-employeelist></app-employeelist>
<app-employeedetail></app-employeedetail> -->
<div style="background-color: rgb(189, 133, 187);">
<p style="color:orange;text-align: center;">ROUTING AND NAVIGATION</p>
</div>
<nav>
    
    <a routerLink="/parent" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Parent</a><br>

    <a routerLink="/child" routerLinkActive="active1">Child</a>
    

</nav>

<router-outlet></router-outlet>