<p>Builtin Pipes</p>
<p>{{today|date}}
</p>
    {{name|uppercase}}
    <p>{{name|lowercase}}</p>
    
    <h1>Custom Pipe</h1> 
<b>Square root of 25 is: {{25 | custom}}</b> 
<br/> 
<b>Square root of 729 is: {{729 | custom}}</b>
<!-- <div *ngIf="hero" class="name">{{hero.name}}</div> -->

<!-- <ul>
  <li *ngFor="let hero of heroes">{{hero.name}}</li>
</ul>

<div [ngSwitch]="hero?.emotion">
  <app-happy-hero    *ngSwitchCase="'happy'"    [hero]="hero"></app-happy-hero>
  <app-sad-hero      *ngSwitchCase="'sad'"      [hero]="hero"></app-sad-hero>
  <app-confused-hero *ngSwitchCase="'confused'" [hero]="hero"></app-confused-hero>
  <app-unknown-hero  *ngSwitchDefault           [hero]="hero"></app-unknown-hero>
</div> -->


